<!DOCTYPE html>
<html>
<head>
	<title>Delete {{ item.name }}</title>
</head>
<body>
	<h1>{{ restaurant.name }}</h1>
	<form action="{{ url_for('deleteMenuItem', restaurant_id=restaurant.restaurant_id, MenuID=item.item_id) }}" method="POST">
	<fieldset>
	<legend>Delete {{item.name}}</legend>
		<p>Are you sure you would like to permanently delete the {{item.name}}
		from {{ restaurant.name }}?</p>
		<input type="submit" value="Yes">
		<a href="{{ url_for('restaurantMenu', restaurant_id=restaurant.restaurant_id) }}">Cancel</a>
	</fieldset>
	</form>
</body>
</html>