<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>

<body>
<div id="signinButton">
	<span class="g-signin"
		data-scope="openid"
		data-clientid="246942035202-37ehpbd4luojg4bvdjktlur927v2ajli.apps.googleusercontent.com"
		data-redirecturi="postmessage"
		data-accesstype="offline"
		data-cookiepolicy="single_host_origin"
		data-callback="signInCallback"
		data-approvalprompt="force">
	</span>
</div>
<div id="result"></div>	
<script></script>
</body>

</html>