{% extends "layout.html" %}
{% block title %}{{ restaurant.name }} Menu{% endblock %}
{% block content %}
	<header>
		<h1>{{ restaurant.name }}</h1>
		<a href="{{ url_for('newMenuItem', restaurant_id=restaurant.restaurant_id) }}">Add new menu item</a>
		<a href="{{ url_for('allRestaurants') }}">All restaurants</a>
	</header>
	{% for item in items %}
	<div class="item">
		<h2>{{ item.name }}</h2>
		<ul>
			<li>{{ item.description }}</li>
			<li>{{ item.course }}</li>
			<li>{{ item.price }}</li>
		</ul>
		<ul>
			<li><a href="{{ url_for('editMenuItem', restaurant_id=restaurant.restaurant_id, MenuID=item.item_id) }}">Edit</a></li>
			<li><a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.restaurant_id, MenuID=item.item_id) }}">Delete</a></li>
		</ul>
	</div>
	<br>
	{% endfor %}
{% endblock %}
