{% extends "layout.html" %}
{% block title %}MenuMoo{% endblock %}
{% block content %}
	{% for restaurant in restaurants %}
	<div class="restaurant">
		<a href="{{ url_for('restaurantMenu', restaurant_id=restaurant.restaurant_id) }}"><h2>{{ restaurant.name }}</h2></a>
		<ul>
			<li><a href="{{ url_for('editRestaurant', restaurant_id=restaurant.restaurant_id) }}">Edit</a></li>
			<li><a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.restaurant_id) }}">Delete</a></li>
		</ul>
	</div>
	<br>
	{% endfor %}
{% endblock %}