body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content {
	padding-top: 50px;
	color: #FFAA00;
	text-align: center;
	align-content: center;
}

.restaurant {
	border: 1px solid #3A28D0;
	max-width: 50%;
}